// .additional-products

.additional-products__title {

}

.additional-products__list {
  padding: 0;

  list-style: none;
}

// .additional-products__item

.additional-products__item-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.additional-products__characteristics {
  font-size: 14px;
  line-height: 100%;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

// .additional-products__term

// .additional-products__definition

// .additional-products__button

// .additional-products__promo
