// .additional-products

.additional-products__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.additional-products__title {
  margin-top: 25px;
  margin-bottom: 36px;
}

.additional-products__list {
  padding: 0;

  list-style: none;
}

.additional-products__item {
  padding-bottom: 19px;

  border-top: 1px solid #d9d9d9;

  &:last-child {
    border-bottom: 1px solid #d9d9d9;
  }
}

.additional-products__item-title {
  margin: 13px 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.additional-products__characteristics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  margin-bottom: 15px;


  font-family: $additional-font;
  font-size: 14px;
  line-height: 100%;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

// .additional-products__term

.additional-products__definition {
  margin: 0;

  text-align: right;
}

// .additional-products__button

// .additional-products__promo
