.card {

  position: relative;

  padding-top: 20px;
  margin-bottom: 25px;

  // border-top: 1px solid #d9d9d9;



  @media (max-width: $mobile-width-only) {
    &::before {
      content: '';
      position: absolute;
      top: 0px;
      width: 100%;
      height: 1px;

      background-color: #ebebeb;
    }

  }

}

.card__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'img link' 'img list' 'button button';

  @media (max-width: $mobile-width-only) {
    width: 280px;
    margin: 0 auto;
  }



  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: 200px auto;
    grid-template-columns: auto;
    grid-template-areas: 'img' 'link' 'list' 'button';
    padding: 20px 36px 39px;
    padding-top: 20px;
    margin-bottom: 0;

    background-image: linear-gradient(to bottom, #ffffff 80px, #f2f2f2 80px);
    border: none;
  }
}

.card__link {
  grid-area: link;
  padding-right: 65px;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    padding: 0 47px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  @media (min-width: $laptop-width) {
    padding: 0 20px;
    margin-bottom: 20px;
  }
}

.card__picture {
  grid-area: img;
  justify-self: center;
  align-self: center;
  @media (min-width: $tablet-width) {
    height: min-content;
    margin-top: auto;
    justify-self: center;
  }


}

.card__image {
  justify-self: center;

  @media (min-width: $tablet-width) {
    width: auto;
    height: auto;
    order: -1;
  }
}

.card__title {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;

    font-size: 20px;
    line-height: 120%;
    text-align: center;
  }

  @media (min-width: $laptop-width) {
    line-height: 105%;
  }
}

.card__characteristics {
  // width: 142px;
  display: grid;
  grid-area: list;
  grid-template-columns: 1fr 1fr;
  row-gap: 2px;

  margin: 0;
  margin-bottom: 22px;

  font-family: $additional-font;
  font-size: 12px;
  line-height: 133%;
  color: #444444;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;

    font-size: 16px;
    line-height: 100%;
  }

  @media (min-width: $laptop-width) {

  }
}

.card__term {
  height: min-content;
  @media (min-width: $tablet-width) {
    padding-bottom: 8px;
    margin-bottom: 5px;

    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: $laptop-width) {

  }
}

.card__definition {
  height: min-content;

  text-align: right;

  margin: 0;

  @media (min-width: $tablet-width) {
    padding-bottom: 8px;
    margin-bottom: 5px;

    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: $laptop-width) {

  }
}

.card__button {
  grid-area: button;
}
