.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'img link' 'img list' 'button button';

  padding-top: 20px;
  margin-bottom: 25px;

  border-top: 1px solid #d9d9d9;

  &:nth-child(2n) .card__image {
    @media (min-width: $tablet-width) {
      margin-bottom: 20px;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 20px 36px 39px;
    padding-top: 20px;

    background-color: #f2f2f2;
    border: none;
  }
}

.card__link {
  grid-area: link;
  padding-right: 65px;

  @media (min-width: $tablet-width) {
    padding: 0 47px;
    margin-bottom: 20px;
  }
}

.card__image {
  grid-area: img;
  justify-self: center;
  align-self: center;

  @media (min-width: $tablet-width) {
    order: -1;
    margin-top: -50px;
    margin-bottom: 34px;
  }
}

.card__title {
  margin: 0;
  margin-bottom: 15px;

  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;

    font-size: 20px;
    line-height: 120%;
    text-align: center;
  }

  @media (min-width: $laptop-width) {
    line-height: 105%;
  }
}

.card__characteristics {
  // width: 142px;
  display: grid;
  grid-area: list;
  grid-template-columns: 1fr 1fr;
  row-gap: 2px;

  margin: 0;
  margin-bottom: 22px;

  font-family: $additional-font;
  font-size: 12px;
  line-height: 133%;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 100%;
  }
}

.card__term {
  @media (min-width: $tablet-width) {
    padding-bottom: 5px;
    margin-bottom: 5px;

    border-bottom: 1px solid #cdcdcd;
  }
}

.card__definition {
  text-align: right;

  margin: 0;

  @media (min-width: $tablet-width) {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.card__button {
  grid-area: button;

  font-size: 16px;
}
