.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'img link' 'img list' 'button button';

  padding-top: 20px;
  margin-bottom: 25px;

  border-top: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    background-color: #f2f2f2;
  }
}

.card__link {
  grid-area: link;

  padding-right: 65px;
}

.card__image {
  grid-area: img;
  justify-self: center;
  align-self: center;
}

.card__title {
  margin: 0;
  margin-bottom: 15px;

  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 120%;
  }

  @media (min-width: $laptop-width) {
    line-height: 105%;
  }
}

.card__characteristics {
  // width: 142px;
  display: grid;
  grid-area: list;
  grid-template-columns: 1fr 1fr;
  row-gap: 2px;

  margin: 0;
  margin-bottom: 22px;

  font-family: $additional-font;
  font-size: 12px;
  line-height: 133%;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 100%;
  }
}

// .card__term

.card__definition {
  text-align: right;

  margin: 0;
}

.card__button {
  grid-area: button;

  font-size: 16px;
}
