// .control

// .control--radio

// .control__input

// .control__input--radio

.control__caption {
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  color: #222222;
}

.control__caption--checkbox {
  color: #000000;
}

// .control__input--checkbox
