.contacts {
  width: 100%;
  position: relative;
}

.contacts__title {
  margin: 0;

  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #111;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 130%;
  }
}

.contacts__address {
  margin: 0;

  font-family: $additional-font;
  font-size: 14px;
  line-height: 143%;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 125%;
    text-align: right;
  }
}



.contacts__map {
  margin: 0 auto;
}
