.example {
  padding-bottom: 40px;

  background-color: #eaeaea;
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    padding: 20px 0;
    padding-bottom: 56px;

    background-image: linear-gradient(to top, #ebebeb 445px, #ffffff 445px);
  }

  @media (min-width: $laptop-width) {
    padding-bottom: 20px;

    border-top: none;
    background-image: linear-gradient(to top, #ebebeb 430px, #ffffff 430px);
  }
}

.example__info-wrapper {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }

  @media (min-width: $laptop-width) {
    width: 100%;
    margin-bottom: 10px;
    padding: 0;
  }
}

.example__title {
  margin-top: 0;
  padding-top: 15px;

  font-size: 24px;
  line-height: 100%;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 63px;
  }

  @media (min-width: $laptop-width) {
    margin-bottom: 130px;
  }
}

.example__item-wrapper {
  display: flex;
  flex-direction: column;
  padding: 14px 8px;
  padding-bottom: 0;

  border: 1px solid #cdcdcd;
  text-align: center;
  border-radius: 4px;
}

.example__term {
  padding-bottom: 12px;

  font-size: 24px;
  line-height: 100%;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 123%;
  }
}


.example__text {
  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $laptop-width) {
    margin-bottom: 34px;
    margin-top: 0;
  }
}


.example__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-bottom: 48px;

  @media (min-width: $tablet-width) {
    width: 366px;
    gap: 42px;
  }
}

.example__definition {
  width: 87px;
  margin: 0 auto;
  margin-bottom: -18px;
  padding: 0 4px;
  justify-self: center;

  font-size: 12px;
  font-family: $additional-font;
  text-transform: lowercase;
  background-color: #eaeaea;
  color: #444444;

  @media (min-width: $tablet-width) {
    width: auto;
    margin-bottom: -8px;
    padding: 0 8px;

    font-size: 14px;
    background-color: #fff;
  }

  @media (min-width: $laptop-width) {
    background-color: #eaeaea;
  }
}

.example__cost {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 143%;
  text-transform: uppercase;
  text-align: center;

  & br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 25px;

    font-size: 20px;
    line-height: 100%;
    text-align: right;

    & br {
      display: inline;
    }
  }

  @media (min-width: $laptop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

    text-align: left;

    & br {
      display: none;
    }
  }
}

.example__stats-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $laptop-width) {
    flex-direction: column;
  }
}

.example__images-wrapper {


  @media (min-width: $laptop-width) {
    margin-top: -40px;
  }
}

.example__images {
  margin-bottom: 15px;
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 52% 1fr;
    padding: 0 58px;
    padding-right: 25px;
    overflow: hidden;
  }

  @media (min-width: $laptop-width) {
    padding: 0;
    // grid-template-columns: 50% 1fr;
  }
}

.example__image {

  &--after {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    overflow: hidden;

    & img {
      max-width: none;
    }

    &--before img {
      width: 677px;
      height: 520px;
    }

    &--after img {
      width: 545px;
      height: 520px;
    }

    &--after {
      justify-content: end;
    }
  }

  &--active {
    display: block;
  }
}

// .example__switcher
