.field {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;

  &--comment {
    display: block;

    @media (min-width: $laptop-width) {
      margin-bottom: 70px;
    }
  }
}

.field__caption {
  width: max-content;

  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.field__input {
  flex-grow: 1;
  padding: 13px 12px 12px 15px;

  border: 1px solid #e6e6e6;
  font-family: inherit;
  font-size: 16px;
  text-transform: uppercase;

  &:focus {
    outline: none;
    outline: 2px solid #444444;
    border: none;
    border: 1px solid transparent;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 112%;
    text-transform: uppercase;
    color: #444444;

    @media (min-width: $tablet-width) {
      font-size: 20px;
    }
  }

  &:not(:placeholder-shown):invalid {
    outline: none;
    border: 1px solid transparent;
    outline: 2px solid #ff8282;

    & + .field__icon {
      color: #ff8282;
    }
  }

  &--comment {
    width: 100%;
    resize: none;
  }
}

.field__icon {
  position: absolute;

  &--email {
    right: 15px;
    @media (min-width: $tablet-width) {
      right: 20px;
    }
  }

  &--tel {
    right: 13px;
    @media (min-width: $tablet-width) {
      right: 18px;
    }
  }
}

.field__input:focus + .field__icon {
  color: #68B738;
}



.field__input--email {

}

// .field__input--tel
