.field-group {
  padding: 0;
  border: none;
  &--contacts,
  &--comment,
  &--additional {
    @media (min-width: $laptop-width) {
      grid-column: 1 / -1;
    }
  }
}

.field-group__list {
  padding: 0;

  list-style: none;

  &--additional {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 80px;
      row-gap: 32px;
    }

    @media (min-width: $laptop-width) {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 104px;
    }
  }

  &--contacts {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 80px;
    }
  }
}

// .field-group__item

// .field-group__input

// .field-group__title
