.field-group {
  margin: 0;
  padding: 0 17px;

  border: none;
  &--contacts,
  &--comment,
  &--additional {
    @media (min-width: $laptop-width) {
      grid-column: 1 / -1;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  &--radio {
    padding: 20px;

    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;

    @media (min-width: $tablet-width) {
      border: 1px solid #d9d9d9;

      padding: 25px;
    }
  }

  &:last-of-type {
    margin-bottom: 34px;
  }

  &--contacts .field-group__title, &--comment .field-group__title {
    @media (min-width: $tablet-width) {
      margin-bottom: 70px;
    }

  }

  &--additional .field-group__title {
    margin-bottom: 57px;
  }
}

.field-group + .field-group {
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    margin-top: 70px;
  }
}

.field-group__list {
  padding: 0;
  margin: 0;

  list-style: none;

  &--additional {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 25px;
      row-gap: 32px;
    }

    @media (min-width: $laptop-width) {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 104px;
    }
  }

  &--contacts {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: column;
    }
  }
}

.field-group__item {
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.field-group__input {

}

.field-group__title {
  margin-bottom: 35px;
}
