// .form

.form__title {

}

.form__subtitle {
  font-size: 14px;
  line-height: 129%;
  text-transform: uppercase;
}

// .form__body

// .form__group

// .form__button

.form__explanation {
  font-family: $additional-font;
  font-size: 14px;
  line-height: 114%;
}
