.main-nav {
  text-align: center;
}

// .main-nav__toggle

// .visually-hidden

// .main-nav__wrapper

.main-nav__list {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
  list-style: none;
}

.main-nav__item {

}

// .main-nav__item--current

.main-nav__link {
  color: #000;
}
