.page-header {
  display: flex;
}

.page-header__logo {

  @media (min-width: $tablet-width) {
    margin-right: 12px;
  }

}

.page-header__main-logo {
  @media (min-width: $tablet-width) {
    margin: auto;
  }
}
