@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.page__body {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000;
}

@media (min-width: 768px) {
  .logo-wrapper {
    width: 175px;
  }
}
@media (min-width: 1440px) {
  .logo-wrapper {
    width: 202px;
  }
}

.page-footer {
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .page-footer {
    padding: 55px 30px;
  }
}

@media (min-width: 768px) {
  .additional-products__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.additional-products__list {
  padding: 0;
  list-style: none;
}

.additional-products__item-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: #222222;
}
@media (min-width: 768px) {
  .additional-products__item-title {
    font-size: 20px;
  }
}

.additional-products__characteristics {
  font-size: 14px;
  line-height: 100%;
  color: #444444;
}
@media (min-width: 768px) {
  .additional-products__characteristics {
    font-size: 16px;
  }
}

.advantages__list {
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .advantages__list {
    width: 630px;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 135px;
    row-gap: 37px;
  }
}
@media (min-width: 1440px) {
  .advantages__list {
    width: 1220px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 70px;
  }
}

.advantages__item {
  margin-bottom: 20px;
}

.button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 129%;
  text-transform: uppercase;
  color: #fff;
  background-color: #68B738;
  border: none;
}

@media (min-width: 768px) {
  .card {
    background-color: #f2f2f2;
  }
}

.card__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #222222;
}
@media (min-width: 768px) {
  .card__title {
    font-size: 20px;
    line-height: 120%;
  }
}
@media (min-width: 1440px) {
  .card__title {
    line-height: 105%;
  }
}

.card__characteristics {
  font-size: 12px;
  line-height: 133%;
  color: #444444;
}
@media (min-width: 768px) {
  .card__characteristics {
    font-size: 16px;
    line-height: 100%;
  }
}

.card__button {
  font-size: 16px;
}

.contacts__title {
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #111;
}
@media (min-width: 768px) {
  .contacts__title {
    font-size: 20px;
    line-height: 130%;
  }
}

.contacts__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 143%;
  color: #444444;
}
@media (min-width: 768px) {
  .contacts__address {
    font-size: 16px;
    line-height: 125%;
    text-align: right;
  }
}

.control__caption {
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  color: #222222;
}
@media (min-width: 768px) {
  .control__caption {
    font-size: 20px;
  }
}

.control__caption--checkbox {
  color: #000000;
}

.copyright__link {
  font-size: 16px;
  font-family: "Arial", sans-serif;
  color: #444444;
}

.example {
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .example {
    padding: 20px 0;
  }
}

.example__title {
  font-size: 24px;
  line-height: 100%;
}
@media (min-width: 768px) {
  .example__title {
    margin: 0;
  }
}

.example__term {
  font-size: 24px;
  line-height: 100%;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .example__term {
    font-size: 30px;
    line-height: 123%;
  }
}

.example__definition {
  text-transform: lowercase;
}

.example__cost {
  font-size: 14px;
  line-height: 143%;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .example__cost {
    font-size: 20px;
    line-height: 100%;
  }
}

@media (min-width: 1440px) {
  .example__images {
    display: flex;
  }
}

.field-group {
  padding: 0;
  border: none;
}
@media (min-width: 1440px) {
  .field-group--contacts, .field-group--comment, .field-group--additional {
    grid-column: 1/-1;
  }
}

.field-group__list {
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .field-group__list--additional {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    row-gap: 32px;
  }
}
@media (min-width: 1440px) {
  .field-group__list--additional {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 104px;
  }
}
@media (min-width: 768px) {
  .field-group__list--contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.field__caption {
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  color: #444444;
}
@media (min-width: 768px) {
  .field__caption {
    font-size: 20px;
  }
}

.field__input {
  padding: 13px 13px 13px 15px;
  font-family: "Oswald", "Arial", sans-serif;
}
.field__input::placeholder {
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  color: #444444;
}
@media (min-width: 768px) {
  .field__input::placeholder {
    font-size: 20px;
  }
}

.form__subtitle {
  font-size: 14px;
  line-height: 129%;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form__subtitle {
    font-size: 20px;
    line-height: 150%;
  }
}

@media (min-width: 1440px) {
  .form__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

@media (min-width: 1440px) {
  .form__button {
    grid-column: 1/2;
  }
}

.form__explanation {
  display: block;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 114%;
}

.main-nav {
  text-align: center;
}
@media (min-width: 1440px) {
  .main-nav {
    background-color: #68B738;
  }
}
@media (min-width: 768px) {
  .main-nav {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .main-nav__wrapper {
    width: 440px;
  }
}
@media (min-width: 1440px) {
  .main-nav__wrapper {
    width: 478px;
  }
}

.main-nav__list {
  padding: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
  list-style: none;
}
@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    margin-top: 18px;
    font-size: 18px;
    font-weight: normal;
    line-height: 133%;
  }
}
@media (min-width: 1440px) {
  .main-nav__list {
    font-size: 20px;
  }
}

.main-nav__bar {
  display: grid;
  grid-template-columns: 34px 1fr 34px;
  gap: 16px;
  padding-top: 20px;
}
@media (min-width: 768px) {
  .main-nav__bar {
    display: block;
  }
}

.main-nav__link {
  color: #000;
}
@media (min-width: 1440px) {
  .main-nav__link {
    color: #ffffff;
  }
}

.nutrition-programs__list {
  padding: 0;
  list-style: none;
}
@media (min-width: 1440px) {
  .nutrition-programs__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.nutrition-programs__item {
  padding: 20px;
  margin-bottom: 30px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .nutrition-programs__item {
    padding: 50px;
  }
}

.nutrition-programs__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 154%;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .nutrition-programs__title {
    font-size: 36px;
    line-height: 100%;
  }
}

.nutrition-programs__description {
  font-size: 14px;
  line-height: 129%;
  color: #444444;
}
@media (min-width: 768px) {
  .nutrition-programs__description {
    font-size: 16px;
    line-height: 150%;
    color: #000000;
  }
}

.nutrition-programs__link {
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .nutrition-programs__link {
    font-size: 20px;
  }
}

.offer {
  padding: 40px;
  color: #ffffff;
  background-image: url(../../img/cat-bag.jpg);
  background-color: #68B738;
  text-align: center;
}
@media (min-width: 768px) {
  .offer {
    grid-column: 4/5;
  }
}

.offer__text {
  font-size: 16px;
  line-height: 125%;
  background-color: #68B738;
}

.products__list {
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .products__list {
    display: grid;
    grid-template-columns: 324px 324px;
    gap: 60px;
  }
}
@media (min-width: 1440px) {
  .products__list {
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
    row-gap: 63px;
  }
}

.promo {
  padding: 27px 0;
  color: #ffffff;
  background-color: #68B738;
  background-image: url(../../img/cat-promo.jpg);
  text-align: center;
}
@media (min-width: 768px) {
  .promo {
    padding: 30px 0;
  }
}
@media (min-width: 1440px) {
  .promo {
    text-align: left;
  }
}

.promo__title {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 100%;
}
@media (min-width: 768px) {
  .promo__title {
    font-size: 60px;
    color: #000000;
  }
}

.promo__text {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 100%;
}
@media (min-width: 768px) {
  .promo__text {
    font-size: 20px;
    color: #000000;
  }
}

@media (min-width: 768px) {
  .promo__button {
    font-size: 20px;
    line-height: 100%;
  }
}

.show-more__title {
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #111;
}
@media (min-width: 768px) {
  .show-more__title {
    font-size: 20px;
    line-height: 110%;
  }
}

.show-more__text {
  font-size: 12px;
  line-height: 133%;
  color: #444444;
}
@media (min-width: 768px) {
  .show-more__text {
    font-size: 16px;
    line-height: 112%;
  }
}

.show-more__button {
  background-color: #f2f2f2;
  color: #444444;
}

.switcher__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #000000;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media (min-width: 768px) {
  .switcher__button {
    font-size: 20px;
  }
}

.title {
  font-weight: 400;
  font-size: 36px;
  line-height: 111%;
}
@media (min-width: 768px) {
  .title {
    font-size: 60px;
    line-height: 100%;
  }
}

.title__small {
  font-size: 24px;
  line-height: 100%;
}
@media (min-width: 768px) {
  .title__small {
    font-size: 36px;
  }
}

.wrapper {
  width: 280px;
  margin: auto;
}
.wrapper--grey {
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .wrapper {
    width: 708px;
  }
}
@media (min-width: 1440px) {
  .wrapper {
    width: 1220px;
  }
}

.wrapper--header {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .wrapper--header {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

@media (min-width: 1440px) {
  .wrapper--example {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 193px;
  }
}

.wrapper--contacts {
  display: grid;
  grid-template-columns: 139px 139px;
}
@media (min-width: 768px) {
  .wrapper--contacts {
    grid-template-columns: 172px 172px;
    justify-content: space-between;
    padding: 56px 70px;
  }
}

@media (min-width: 768px) {
  .wrapper--footer {
    display: grid;
    grid-template-columns: 164px 1fr 164px;
    justify-content: space-between;
  }
}

.text {
  font-size: 14px;
  line-height: 129%;
  color: #444444;
}
@media (min-width: 768px) {
  .text {
    font-size: 16px;
    line-height: 150%;
  }
}
/*# sourceMappingURL=style.css.map */